.leaderboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.leaderboard .leaderboardTable {
  width: 100%;
  margin: 0 1rem;
}
.leaderboard .content .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50px;
}
.leaderboard .content .label :is(div) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}
.leaderboard .content .label :is(input[type=radio]) {
  opacity: 0;
  pointer-events: none;
}
.leaderboard .content .label :is(label) {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(25, 29, 31);
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bolder;
}
.leaderboard .content .label :is(input[type=radio]:checked + label) {
  border: 1px solid rgb(0, 217, 200);
  color: rgb(0, 217, 200);
}
.leaderboard .content .leaderboardContent {
  background-color: rgba(26, 31, 34, 0.8);
  border-radius: 10px;
}
.leaderboard .content .leaderboardContent :is(.attr) {
  font-weight: bolder;
  padding: 1rem 0.5rem;
}
.leaderboard .content .leaderboardContent :is(.attr, .data) {
  text-align: center;
}
.leaderboard .content .leaderboardContent :is(.attr, .data) div:is(:first-of-type) {
  width: 15%;
}
.leaderboard .content .leaderboardContent :is(.attr, .data) div:is(:nth-of-type(2)) {
  width: 30%;
}
.leaderboard .content .leaderboardContent :is(.attr, .data) div:is(:nth-of-type(3)) {
  width: 35%;
}
.leaderboard .content .leaderboardContent :is(.attr, .data) div:is(:last-of-type) {
  width: 20%;
}
.leaderboard .content .leaderboardContent .data > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0.5rem;
}

@media (max-width: 1000px) {
  .content {
    font-size: 1.2rem;
  }
}
@media (max-width: 950px) {
  .leaderboard .leaderboardTable {
    width: 100%;
    margin: 0;
  }

  .leaderboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}