@charset "UTF-8";
.mobileSlide {
  display: none;
}

.slide {
  position: relative;
  z-index: 0;
  background-color: rgb(20, 20, 20);
  /*左右箭頭*/
}
.slide .slideImg {
  display: none;
}
.slide .slideImg.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.slide .prev, .slide .next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 0.5em;
  font-size: 2rem;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  border-radius: 0 3px 3px 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}
.slide .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slide .prev:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(238, 238, 238, 0.5)), to(rgb(51, 51, 51)));
  background: linear-gradient(to right, rgba(238, 238, 238, 0.5), rgb(51, 51, 51));
}
.slide .next:hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(238, 238, 238, 0.5)), to(rgb(51, 51, 51)));
  background: linear-gradient(to left, rgba(238, 238, 238, 0.5), rgb(51, 51, 51));
}

.slideIndicators {
  text-align: center;
}
.slideIndicators .dot {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 15px;
  margin: 0 2px;
  background: rgb(72, 83, 95);
  border-radius: 5px;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  margin-top: 1rem;
}
.slideIndicators .dot.active, .slideIndicators .dot:hover {
  background-color: rgb(118, 126, 135);
}

@media (max-width: 767px) {
  .pcSlide {
    display: none;
  }

  .mobileSlide {
    display: block;
  }
}