.leaderboard{
    display: flex;
    .leaderboardTable{
        width: 100%;
        margin: 0 1rem ;
    }
    .content{
        .label{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            min-height: 50px;

            & :is(div){
                display: flex;
                margin: 1rem 0;
            }

            & :is(input[type=radio]){
                opacity: 0;
                pointer-events: none;
            }
            & :is(label){
                border: 1px solid rgb(255,255,255);
                background-color: rgb(25,29,31);
                border-radius: 5px;
                padding:0.5rem;
                font-weight: bolder;
            }

            & :is(input[type=radio]:checked+label){
                border: 1px solid rgb(0,217,200);
                color:rgb(0,217,200);
            }
        }
        
        .leaderboardContent{
            background-color: rgba(26,31,34,0.8);
            border-radius: 10px;
            :is(.attr){
                font-weight: bolder;
                padding:1rem 0.5rem;
            }

            :is(.attr,.data){
                text-align: center;
            }

            :is(.attr,.data)div:is(:first-of-type){
                width: 15%
            ;}

            :is(.attr,.data)div:is(:nth-of-type(2)){
                width: 30%
            ;}

            :is(.attr,.data)div:is(:nth-of-type(3)){
                width: 35%
            ;}

            :is(.attr,.data)div:is(:last-of-type){
                width: 20%
            ;}

            .data>li{
                display: flex;
                align-items: center;
                padding:1rem 0.5rem;
            }
        }
    }
}

@media(max-width:1000px){
    .content{
        font-size: 1.2rem;
    }
}

@media(max-width:950px){
    .leaderboard .leaderboardTable {
        width: 100%;
        margin: 0;
    }

    .leaderboard{
        flex-direction: column;
    }
}